/* AddItem.css */

.add-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.add-div {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  width: 100%;
  margin-top: 20px;
}

label {
  margin-bottom: 8px;
  font-weight: bold;
}

input {
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
}

button {
  background-color: #97bf0f;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0a0f0a;
}
