.reserve-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  width: 80%;
  height: 100vh;
  margin-left: 20%;
  background-color: #8fbc01;
}

.reserve-form-container h2 {
  color: #fdfcff;
}

.reserve-form-container p {
  font-size: 20px;
  margin: 10px 0;
  color: #fdfcff;
}

.reservation-form {
  width: 60%;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-size: 20px;
}

label {
  margin-top: 10px;
}

input,
select {
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}

.reservation-form button {
  padding: 10px;
  background-color: #97bf0f;
  border: 1.5px solid #ccc;
  color: #fff;
  border-radius: 7px;
  cursor: pointer;
  width: 100%;
}

.reservation-form button:hover {
  background-color: #8ab00c;
}
