.motorcycle-list-container {
  width: 80%;
  height: 100vh;
  margin-left: 20%;
  background-color: #fff;
  color: #363636;
}

.carousel-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.carousel-arrow {
  font-size: 50px;
  cursor: pointer;
  color: #97bf0f;
}

.carousel-arrow:hover {
  color: #afe304;
}

.motorcycle-list-container .no-items-message {
  font-size: 24px;
}

.motorcycle-list {
  list-style: none;
  text-decoration: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}

.motorcycle-item {
  width: 30%;
  height: auto;
  border: 1.5px solid #97bf0f;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
}

.motorcycle-name {
  text-decoration: none;
  color: #363636;
}

.img-card img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

@media (max-width: 767px) {
  .motorcycle-item {
    width: 100%;
    height: auto;
  }
}
