@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,400;0,700;1,100;1,300;1,400;1,700;1,900&family=Noto+Sans+KR:wght@900&display=swap');

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Lato', sans-serif;
}

.hiddenScroll {
  overflow: hidden;
}

button {
  border: transparent;
  cursor: pointer;
  padding: 0.6rem;
  padding: 0.8rem 1.5rem 0.8rem 1.5rem;
  border-radius: 16px;
}
